{% import "path_utils.jinja" as path_utils with context %}

{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set name = "%s-vm-tmpl" % env["name"] %}
{% set instanceName = "%s-vm" % deployment %}
{% set zone = properties["zone"] %}
{% set machineType = properties["machineType"] %}
{% set networks = path_utils.networkPath(properties["network"]) %}
{% if networks is string %}
  {% set networks = [path_utils.networkPath(properties["network"])] %}
{% endif %}
{% set subnetworks = properties["subnetwork"] %}
{% if subnetworks is string %}
  {% set subnetworks = [properties["subnetwork"]] %}
{% endif %}
{% set apiPassword = properties["apiPassword"] %}
{% set secretsEncKey = properties["secretsEncKey"] %}
{% set managerServiceAccount = properties["managerServiceAccount"] %}
{% set hasExternalIP = True %}

resources:
  - name: {{ name }}
    type: vm_instance.py
    properties:
      instanceName: {{ instanceName }}
      sourceImage: https://www.googleapis.com/compute/v1/projects/click-to-deploy-images/global/images/velostrata-mgmt-4-2-0-24912
      zone: {{ zone }}
      machineType: {{ machineType }}
      networks:
      {% for network in networks %}
        - {{ network }}
      {% endfor %}
      {% if subnetworks is defined and subnetworks %}
      subnetworks:
      {% for subnetwork in subnetworks %}
        - {{ subnetwork }}
      {% endfor %}
      {% endif %}

      hasExternalIP: {{ hasExternalIP }}
      metadata:
        items:
        - key: apiPassword
          value: {{ apiPassword }}
        - key: secretsEncKey
          value: {{ secretsEncKey }}
        {% if properties.get("cloudExtensionServiceAccount") %}
        - key: defaultServiceAccount
          value: {{ properties.get("cloudExtensionServiceAccount") }}
        # StackDriver settings are configured from within the Velostrata application
        - key: google-monitoring-enable
          value: '1'
        - key: google-logging-enable
          value: '1'
        {% endif %}
      bootDiskSizeGb: 60
      serviceAccounts:
        - email: {{ managerServiceAccount }}
          scopes:
            - 'https://www.googleapis.com/auth/cloud-platform'
            - 'rpc://phrixus.googleapis.com/auth/cloudrpc'
      {% if properties.get("networkTags") %}
      {% set networkTags = properties["networkTags"].split(",") %}
      tags:
        items:
          {% for tag in networkTags %}
          - {{ tag }}
          {% endfor %}
      {% endif %}

outputs:
  - name: deployment
    value: {{ deployment }}
  - name: project
    value: {{ project }}
  - name: vmId
    value: $(ref.{{ instanceName }}.id)
  - name: vmExternalIP
    {% if hasExternalIP %}
    value: $(ref.{{ name }}.ip)
    {% else %}
    value: NONE
    {% endif %}
  - name: vmInternalIP
    value: $(ref.{{ name }}.internalIP)
  - name: vmName
    value: {{ instanceName }}
  - name: vmSelfLink
    value: $(ref.{{ instanceName }}.selfLink)